<style>
  .post {
    transition: background-color 0.2s ease;
  }
  .post:hover {
    background: linear-gradient(to top right, var(--color-accent-bg), transparent);
  }
</style>
<a
  class="block relative p-4 post group"
  href="${link}"
>
  <div class="sm:flex items-center-safe gap-3">
    <h1 class="text-xl lg:text-xl text-text-primary">${title}</h1>
    <hr class="inline flex-1 border-dashed border-border"/>
    <p class="text-text-secondary">${date}</p>
  </div>
  <p class="text-text-tertiary">${description}</p>
</a>
