<a class="bg-neutral-400/20 p-4 block post relative group" href="${link}">
  <h1 class="font-grotesk text-2xl">${title}</h1>
  <p class="text-neutral-700 pt-1">Published ${date}</p>
  <p class="text-neutral-700 pt-3">${description}</p>
  <div
    class="absolute right-2 top-2 p-2 bg-neutral-200/60 backdrop-blur-md grid place-items-center border-2 border-dashed border-neutral-400 transition-all [clip-path:inset(0_0_0_100%)] sm:group-hover:[clip-path:inset(0_0_0_0)] group-hover:[clip-path:inset(0_0_0_100%)]"
  >
    <p>view <span class="font-semibold">→</span></p>
  </div>
</a>
