<Layout title="[writing]/${title}">
  <a
    href="/writing.html"
    class="block py-4 font-mono hover:underline w-fit underline-offset-[6px] decoration-2"
    >[&lt;back]</a
  >
  <h1 class="text-3xl font-grotesk">${title}</h1>
  <p class="pt-1 text-neutral-500">Published ${date}</p>
  <p class="pt-3">${description}</p>
  <div class="py-8">
    <hr class="border-[1.5px] border-neutral-400/50" />
  </div>
  <article class="prose pb-16">${--content}</article>
  <div class="min-h-96">
    <script
      src="https://giscus.app/client.js"
      data-repo="Tnixc/website-v6"
      data-repo-id="R_kgDOMX_hYA"
      data-category="Blog Posts"
      data-category-id="DIC_kwDOMX_hYM4Cie6Y"
      data-mapping="specific"
      data-term="${title}"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</Layout>
