<a class="block relative p-4 bg-neutral-400/20 post group" href="${link}">
  <h1 class="text-2xl font-grotesk">${title}</h1>
  <p class="pt-1 text-neutral-700">Published ${date}</p>
  <p class="pt-3 text-neutral-700">${description}</p>
  <div
    class="absolute right-2 top-2 p-2 bg-neutral-200/60 backdrop-blur-md grid place-items-center border-2 border-dashed border-neutral-400 transition-all [clip-path:inset(0_0_0_100%)] sm:group-hover:[clip-path:inset(0_0_0_0)] group-hover:[clip-path:inset(0_0_0_100%)]">
    <p>view <span class="font-semibold">→</span></p>
  </div>
</a>
