<Layout title="writing - ${title}">
  <style>
    nav :not([data-nav-current="writing"]) {
      opacity: 0.5;
      filter: grayscale(1);
    }
  </style>
  <h1 class="text-3xl text-text-primary">${title}</h1>
  <p class="pt-2 text-text-secondary">Published ${date}</p>
  <p class="pt-3 text-text-tertiary">${description}</p>
  <div class="py-8">
    <hr class="border-px border-border" />
  </div>
  <article class="pb-16 prose">${--content}</article>
  <div
    class="min-h-96 sepia-20 dark:sepia-0 dark:invert-100 dark:hue-rotate-180 dark:sepia-20 opacity-90"
  >
    <script
      src="https://giscus.app/client.js"
      data-repo="Tnixc/website-v6"
      data-repo-id="R_kgDOMX_hYA"
      data-category="Blog Posts"
      data-category-id="DIC_kwDOMX_hYM4Cie6Y"
      data-mapping="specific"
      data-term="${title}"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light_protanopia"
      data-lang="en"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</Layout>
