<style>
#small-logo{
  clip-path: polygon(100% 0, 100% 100%, calc(0% + 12px) 100%, 0 calc(100% - 12px), 0 0);
}
#small-logo p {
    background: linear-gradient(to left, #ef4444FF 20%, #ef4444A0 20%, #ef4444A0 40%, #ef444470 40%,#ef444470 60%, #ef444440 60%, #ef444440 60%,#ef444440 80%, #ef444410 80%);
    filter: saturate(0.6);
}
</style>
<div
  class="${class} bg-yellow-600/50 h-12 w-40 flex items-center"
  id="small-logo"
>
  <div class="h-12 w-12  grid place-items-center">
    <div class="h-6 w-6 bg-neutral-200 border-yellow-600 rounded-full border-4 relative z-40"></div>
  </div>
  <div class="h-full w-[1px] bg-amber-900/40"></div>
  <div class="h-full w-[1px]"></div>
  <div class="h-full w-[1px] bg-amber-900/40"></div>
  <p class="text-2xl px-2 text-amber-950/80 mx-2 shadow-[0_0_0_2px_#ef4444]">TNIXC</p>
</div>
