<div class="overflow-clip pb-5 pr-5 pt-5 -translate-y-5">
<div id="tnixc-wrapper" class="relative ">
<div class="h-40 bg-teal-700/30 p-4 relative z-10" id="tnixc">
  <div class="absolute z-1 inset-0 grid place-items-center"><Svg:Background /></div>
  <span class="flex items-center">
    <span class="inline-flex flex-col font-mono text-3xl">
      <span class="block -scale-y-100">L</span>
      <span class="block">L</span>
    </span>
    <h1 id="tnixc-title" class="inline relative text-4xl font-mono">TNIXC</h1>
    <span
      class="inline-flex flex-col font-mono text-3xl -scale-x-100 select-none"
    >
      <span class="block -scale-y-100">L</span>
      <span class="block">L</span>
    </span>
  </span>

<svg class="absolute inset-0 z-20">
	<defs>
		<filter id='roughpaper' x='0%' y='0%' width='100%' height="100%">
			<feTurbulence type="fractalNoise" baseFrequency='0.13' result='noise' numOctaves="5" />
			<feDiffuseLighting in='noise' surfaceScale='1.3'>
				<feDistantLight azimuth='45' elevation='70' />
			</feDiffuseLighting>
		</filter>
		<filter class='filter' id='warp'>
			<feturbulence basefrequency='0.01 0.02' id='frequency14' numoctaves='1' result='noise' seed='1' type='fractalNoise'></feturbulence>
			<fedisplacementmap id='displacement14' in2='fractalNoise' in='SourceGraphic' scale='5'></fedisplacementmap>
		</filter>
	</defs>
</svg>

</div>
  <!-- paperclip -->
  <svg class="absolute -top-4 left-48 z-20 -rotate-12 sm:block hidden" width="27" height="101" viewBox="0 0 27 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M6 34V90C6 95.5228 10.4772 100 16 100V100C21.5228 100 26 95.5228 26 90V13.5C26 6.59644 20.4036 1 13.5 1V1C6.59644 1 1 6.59644 1 13.5V14" stroke="#333333" stroke-width="2"/>
  </svg>
</div>
</div>
<style>
#tnixc-wrapper::before,#tnixc-wrapper::after{
  clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  inset: 0;
}
#tnixc-wrapper::before{
  background: #D1D1D1;
  transform: translate(9px, 8px);
}
#tnixc-wrapper::after{
    filter: url("#roughpaper") url("#warp");
    background: #E5E5E5;
}
  #tnixc{
    filter: url("#warp");
    clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  }
  #tnixc-title::after{
    content: "";
    position: absolute;
    inset: 0 -4px;
    z-index: -1;
    background: white;
    animation: pulse_opacity 3s infinite;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    opacity: 0;
  }

  @keyframes pulse_opacity {
      from {
          opacity: 0;
      }
      50% {
          opacity: 0.4;
      }
      to {
          opacity: 0;
      }
  }
  }
  @keyframes rotate {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }
</style>
