<div id="tnixc-wrapper" class="relative">
<div class="h-40 bg-teal-700/30 p-4 relative z-10" id="tnixc">
  <div class="absolute z-1 inset-0 grid place-items-center"><Svg:Background /></div>
  <span class="flex items-center">
    <span class="inline-flex flex-col font-mono text-3xl">
      <span class="block -scale-y-100">L</span>
      <span class="block">L</span>
    </span>
    <h1 id="tnixc-title" class="inline relative text-4xl font-mono">TNIXC</h1>
    <span
      class="inline-flex flex-col font-mono text-3xl -scale-x-100 select-none"
    >
      <span class="block -scale-y-100">L</span>
      <span class="block">L</span>
    </span>
  </span>
</div>
</div>
<style>
#tnixc-wrapper::before,#tnixc-wrapper::after{
  clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  inset: 0;
}
#tnixc-wrapper::before{
  background: #D1D1D1;
  transform: translate(9px, 8px);
}
#tnixc-wrapper::after{
    background: #E5E5E5;
}
  #tnixc{
    clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  }
  #tnixc-title::after{
    content: "";
    position: absolute;
    inset: 0 -4px;
    z-index: -1;
    background: white;
    animation: pulse_opacity 3s infinite;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    opacity: 0;
  }

  @keyframes pulse_opacity {
      from {
          opacity: 0;
      }
      50% {
          opacity: 0.4;
      }
      to {
          opacity: 0;
      }
  }
  }
  @keyframes rotate {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }
</style>
