<div
  class="flex flex-col gap-4 justify-between p-2 my-6 font-mono text-sm sm:my-20 bg-neutral-400/10"
>
  <hr class="border-[1.5px] border-neutral-400/30" />
  <div class="flex flex-col gap-3 justify-between md:flex-row">
    <a
      href="https://github.com/Tnixc"
      class="flex whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 w-fit bg-neutral-400/20"
      target="_blank"
      >[github]<Svg:ArrowUpRight class="w-4 h-4"
    /></a>
    <a
      href="https://x.com/_Tnixc"
      class="flex whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 w-fit bg-neutral-400/20"
      target="_blank"
      >[twitter]<Svg:ArrowUpRight class="w-4 h-4"
    /></a>
    <span class="whitespace-nowrap bg-neutral-400/20 w-fit"
      >discord: &#64;Tnixc</span
    >
    <span class="whitespace-nowrap bg-neutral-400/20 w-fit"
      >tnixxc&#64;gmail.com</span
    >
  </div>
  <hr class="border-[1.5px] border-neutral-400/30" />
  <div class="flex flex-col gap-4 justify-end text-neutral-700 w-fit">
    <a
      href="/content/about.html"
      class="flex whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 w-fit"
      >[about this site]</a
    >
    <a
      href="https://github.com/Tnixc/website-v6"
      class="flex whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 w-fit"
      target="_blank"
      >[source code]<Svg:ArrowUpRight class="w-4 h-4"
    /></a>
  </div>
  <div class="flex gap-4 justify-end w-full text-neutral-700">
    <a
      class="grid place-items-center font-sans whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 aspect-square"
      href="https://ctp-webr.ing/tnixc/previous"
      >&lt;-</a
    >
    <a
      class="grid content-center place-items-center text-center hover:underline underline-offset-[6px] decoration-2"
      href="https://ctp-webr.ing/"
      >catppuccin webring</a
    >
    <a
      class="grid place-items-center font-sans whitespace-nowrap hover:underline underline-offset-[6px] decoration-2 aspect-square"
      href="https://ctp-webr.ing/tnixc/next"
      >-&gt;</a
    >
  </div>
</div>
