<div class="sm:py-20 py-6 font-mono flex justify-between flex-col gap-4">
  <div class="justify-between flex md:flex-row flex-col gap-3">
    <a
      href="https://github.com/Tnixc"
      class="hover:underline underline-offset-[6px] decoration-2 flex w-fit whitespace-nowrap"
      target="_blank"
    >[github]<Svg:ArrowUpRight class="w-4 h-4" /></a>
    <a
      href="https://x.com/_Tnixc"
      class="hover:underline underline-offset-[6px] decoration-2 flex w-fit whitespace-nowrap"
      target="_blank"
    >[twitter]<Svg:ArrowUpRight class="w-4 h-4" /></a>
    <span class="whitespace-nowrap">&#64;Tnixc on discord</span>
    <span class="whitespace-nowrap">tnixxc&#64;gmail.com</span>
  </div>
  <div class="gap-4 flex text-neutral-700 justify-end w-fit flex-col">
    <a
      href="/content/about.html"
      class="hover:underline underline-offset-[6px] decoration-2 flex whitespace-nowrap w-fit"
      target="_blank"
    >[about this site]</a>
    <a
      href="https://github.com/Tnixc/website-v6"
      class="hover:underline underline-offset-[6px] decoration-2 flex whitespace-nowrap w-fit"
      target="_blank"
    >[source code]<Svg:ArrowUpRight class="w-4 h-4" /></a>
  </div>
  <div class="gap-4 flex text-neutral-700 justify-end w-full">
    <a
      class="hover:underline grid place-items-center font-sans underline-offset-[6px] decoration-2 whitespace-nowrap aspect-square"
      href="https://ctp-webr.ing/tnixc/previous"
    >&lt;-</a>
    <a
      class="hover:underline grid place-items-center content-center underline-offset-[6px] decoration-2 text-center"
      href="https://ctp-webr.ing/"
    >catppuccin webring</a>
    <a
      class="hover:underline grid place-items-center font-sans underline-offset-[6px] decoration-2 whitespace-nowrap aspect-square"
      href="https://ctp-webr.ing/tnixc/next"
    >-&gt;</a>
  </div>
</div>
