<div class="sm:py-20 py-6 font-mono flex justify-between flex-col gap-4">
    <div class="justify-between flex md:flex-row flex-col gap-3">
        <a
            href="https://github.com/Tnixc"
            class="hover:underline underline-offset-[6px] decoration-2 flex w-fit whitespace-nowrap"
            target="_blank"
            >[github]<Svg:ArrowUpRight class="w-4 h-4"
        /></a>
        <a
            href="https://x.com/_Tnixc"
            class="hover:underline underline-offset-[6px] decoration-2 flex w-fit whitespace-nowrap"
            target="_blank"
            >[twitter]<Svg:ArrowUpRight class="w-4 h-4"
        /></a>
            <span class=" whitespace-nowrap">@Tnixc on discord</span>
            <span class=" whitespace-nowrap">tnixxc@gmail.com</span>
    </div>
    <div class="gap-4 flex text-neutral-700 justify-end w-full">
        <a
            href="https://cloud.umami.is/share/o4Mje48LZ8anrxZi/tnixc.space"
            class="hover:underline underline-offset-[6px] decoration-2 flex"
            target="_blank"
            >[about this site]</a>
        <a
            href="https://github.com/Tnixc/website-v6"
            class="hover:underline underline-offset-[6px] decoration-2 flex"
            target="_blank"
            >[source code]<Svg:ArrowUpRight class="w-4 h-4"
        /></a>
    </div>
</div>
