<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="tnixc.space" />
    <meta property="og:description" content="Tnixc's very own website" />
    <meta property="og:url" content="https://imgsrc.io/guides/open-graph-meta-tags" />

    <meta
        property="og:image"
        content="https://utfs.io/f/50bfdf64-4309-4220-98b4-04a7f7e501b9-p3anp9.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter/X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="tnixc.space" />
    <meta name="twitter:description" content="Tnixc's very own website" />
    <meta
        name="twitter:image"
        content="https://utfs.io/f/50bfdf64-4309-4220-98b4-04a7f7e501b9-p3anp9.png"
    />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <title>${title}</title>
</head>
