<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/output.css" />
  <link rel="stylesheet" href="/syntax.css" />
  <link rel="icon" href="/favicon.png" type="image/png" />
  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="tnixc.space" />
  <meta property="og:description" content="Tnixc's very own website" />
  <meta property="og:url" content="https://tnixc.space" />
  <meta
    property="og:image"
    content="https://dyn-og.vercel.app/api/og?title=${title}"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter/X -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="tnixc.space" />
  <meta name="twitter:description" content="Tnixc's very own website" />
  <meta
    name="twitter:image"
    content="https://dyn-og.vercel.app/api/og?title=${title}"
  />
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="630" />
  <meta name="description" content="tnixc.space - ${title}" />
  <title>${title}</title>
  <script
    defer
    src="https://cloud.umami.is/script.js"
    data-website-id="d41f775b-3a39-4ed9-b68a-5afe73974f01"
  ></script>
</head>
