<div class="flex flex-col gap-8 p-6 font-mono h-fit min-w-fit">
  <Svg:Small class="w-36 h-auto bg-amber-500" />
  <nav class="flex flex-col gap-5 pl-2">
    <a
      class="hover:underline underline-offset-[6px] w-fit decoration-2"
      href="/index.html"
      >about me</a
    >
    <a
      class="hover:underline underline-offset-[6px] w-fit decoration-2"
      href="/projects.html"
      >projects</a
    >
    <a
      class="hover:underline underline-offset-[6px] w-fit decoration-2"
      href="/writing.html"
      >writing</a
    >
    <a
      class="hover:underline underline-offset-[6px] w-fit decoration-2"
      href="/random.html"
      >random</a
    >
  </nav>
</div>
