<nav class="flex gap-5 p-6 py-16 lg:p-12 lg:py-6">
  <a
    class="text-blue-600 hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-blue-600/50"
    index
    href="/index.html"
    >about me</a
  >
  <a
    class="text-blue-600 hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-blue-600/50"
    projects
    href="/projects.html"
    >projects</a
  >
  <a
    class="text-blue-600 hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-blue-600/50"
    writing
    href="/writing.html"
    >writing</a
  >
</nav>
