<nav class="flex gap-5 p-6 py-16 lg:p-12 lg:py-6">
  <a class="text-accent hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-accent-subtle" data-nav-current="index" href="/index.html"
    >home</a
  >
  <a class="text-accent hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-accent-subtle" data-nav-current="about" href="/about.html"
    >about</a
  >
  <a
    class="text-accent hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-accent-subtle"
    data-nav-current="projects"
    href="/projects.html"
    >projects</a
  >
  <a
    class="text-accent hover:underline underline-offset-[6px] w-fit h-fit decoration-2 decoration-accent-subtle"
    data-nav-current="writing"
    href="/writing.html"
    >writing</a
  >
</nav>
