<div class="mt-10">
  <div class="flex relative gap-2 items-center p-5 pr-10 bg-cream">
    <span
      id="song-status"
      class="h-8 w-1 outline-white/50 -outline-offset-1 outline-1 data-[playing=true]:bg-lime-400 data-[playing=true]:animate-pulse data-[playing=false]:bg-red-400"
    ></span>
    <div
      id="song-cover-art"
      class="bg-center bg-no-repeat bg-contain w-12 h-12 outline-stone-500/40 -outline-offset-2 outline-2"
    ></div>
    <div class="pl-2">
      <p class="text-stone-600">
        I'm listening to <span id="song-title">Song Title</span> by
        <span id="song-artist">Artist Name</span>.
      </p>
    </div>
  </div>
  <script defer src="/song.js"></script>
</div>
