<div class="mt-10">
  <div class="flex relative gap-2 items-center">
    <span
      id="song-status"
      class="h-8 w-1 outline-white/50 -outline-offset-1 outline-1 data-[playing=true]:bg-lime-400 data-[playing=true]:animate-pulse data-[playing=false]:bg-red-400"
    ></span>
    <div
      id="song-cover-art"
      class="bg-center bg-no-repeat bg-contain min-w-8 min-h-8 outline-stone-500/20 -outline-offset-1 outline-1 bg-radial"
    ></div>
    <div class="pl-2 text-stone-600">
      <div id="song-info">
        I'm listening to <em class="text-stone-800" id="song-title">Song Title</em> -
        <em class="text-stone-800" id="song-artist">Artist Name</em>
      </div>
      <p id="not-listening" class="text-stone-600 hidden">
       <code>(* ´ ｰ`) ZZzz</code> -- not listening to anything
      </p>
    </div>
  </div>
  <script defer src="/song.js"></script>
</div>
