@import "tailwindcss";

@theme {
  --font-serif: "Sentient", "serif";
  --color-cream: #fbf7ec;
}

@font-face {
  font-family: "Sentient";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./fonts/Sentient-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Sentient";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("./fonts/Sentient-VariableItalic.woff2") format("woff2");
}

html {
  background: #fbf7ec;
}

body {
  font-family: "Sentient", "serif";
  background-image:
    linear-gradient(to right, rgba(168, 162, 158, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(168, 162, 158, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.prose {
  h1 {
    @apply lg:text-4xl text-3xl pt-8;
  }

  h2 {
    @apply lg:text-3xl text-2xl pt-7;
  }

  h3 {
    @apply text-2xl pt-6;
  }

  h4 {
    @apply text-xl pt-5;
  }

  h5 {
    @apply text-lg pt-4 font-[420];
  }

  h6 {
    @apply text-sm pt-3;
  }

  hr {
    @apply border-blue-700/10 mt-7 border-[0.5px];
  }

  p {
    @apply text-stone-600 pt-3 leading-relaxed;
  }

  mark {
    @apply bg-amber-600/10 text-stone-900;
  }

  strong {
    @apply not-italic font-medium text-stone-900;
  }

  em {
    @apply decoration-2 text-stone-950;
  }

  a {
    @apply hover:underline underline-offset-4 decoration-2 text-blue-600 decoration-blue-600/50 relative bg-blue-600/10;
  }

  blockquote {
    @apply border-l-4 border-stone-400 pl-4 italic text-stone-600 pb-4;
  }

  ul {
    @apply list-disc list-outside pt-3 pl-4;
  }

  ol {
    @apply list-decimal list-outside pt-3 pl-4;
  }

  li {
    @apply pt-1 text-stone-700;
  }

  li > ul,
  li > ol {
    @apply pl-4 pt-0;
  }

  table {
    @apply w-full border-2 border-stone-400/50 mt-6;
  }

  th,
  td {
    @apply border border-stone-400/50 px-4 py-2 text-left;
  }

  th {
    @apply bg-stone-400/30 font-semibold;
  }

  code {
    @apply text-black bg-stone-400/50;
  }

  code::after,
  code::before {
    content: "`";
    @apply opacity-50;
  }

  code,
  pre {
    @apply text-sm;
  }

  pre code::after,
  pre code::before {
    content: "";
  }

  pre::-webkit-scrollbar {
    @apply hidden;
  }

  pre {
    @apply mt-4 p-4 overflow-scroll rounded-sm;
  }

  img {
    @apply mx-auto shadow-inner my-5 bg-stone-400/50;
  }

  input[type="checkbox"] {
    @apply accent-black;
  }
}
