@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "basier_square_monoregular";
        src: url("./fonts/basiersquaremono-regular-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "InterVariable";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src:
            local("Inter"),
            url("./fonts/InterVariable.woff2") format("woff2");
    }
    @font-face {
        font-family: "InterVariable";
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("./fonts/InterVariable-Italic.woff2") format("woff2");
    }
}

.prose {
    h1 {
        @apply text-2xl font-semibold pt-7;
    }
    h2 {
        @apply text-xl font-semibold pt-6;
    }
    h3 {
        @apply text-lg font-semibold pt-5;
    }
    h4,
    h5,
    h6 {
        @apply text-base font-semibold pt-4;
    }
    hr {
        @apply border-neutral-400/50 mt-7 border-[1.5px];
    }
    p {
        @apply text-neutral-700 pt-3 leading-relaxed;
    }
    strong {
        @apply not-italic font-semibold bg-amber-300/60;
    }
    em {
        @apply not-italic underline underline-offset-2 decoration-2;
    }
    a {
        @apply hover:underline underline-offset-[6px] decoration-2;
    }
    blockquote {
        @apply border-l-4 border-neutral-400 pl-4 italic text-neutral-600 pb-4;
    }
    ul {
        @apply list-disc list-inside pt-3;
    }
    ol {
        @apply list-decimal list-inside pt-3;
    }
    li {
        @apply pt-1 text-neutral-700;
    }
    li > ul,
    li > ol {
        @apply pl-4 pt-0;
    }

    table {
        @apply w-full border-2 border-neutral-400/50 mt-6;
    }
    th,
    td {
        @apply border border-neutral-400/50 px-4 py-2 text-left;
    }
    th {
        @apply bg-neutral-400/30 font-semibold;
    }
    code {
        @apply text-red-500 bg-neutral-400/50;
    }
    pre * {
        filter: saturate(1.9);
        background: transparent;
    }
    pre {
        background-color: #3e3e5e !important;
        @apply p-4 px-5 overflow-scroll rounded-md;
    }
    img {
        @apply mx-auto;
    }
}
