@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sentient";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("./fonts/Sentient-Variable.woff2") format("woff2");
  }

  @font-face {
    font-family: "Sentient";
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
    src: url("./fonts/Sentient-VariableItalic.woff2") format("woff2");
  }
}
html {
  background: #fbf7ec;
}
body {
  font-family: "Sentient", "serif";
}
.prose {
  h1 {
    @apply text-4xl  pt-8;
  }

  h2 {
    @apply text-3xl  pt-7;
  }

  h3 {
    @apply text-2xl  pt-6;
  }

  h4 {
    @apply text-xl font-semibold pt-5;
  }

  h5,
  h6 {
    @apply text-lg font-semibold pt-4;
  }
  h6 {
    @apply font-normal;
  }

  hr {
    @apply border-blue-700/10 mt-7 border-[0.5px];
  }

  p {
    @apply text-stone-600 pt-3 leading-relaxed;
  }

  strong {
    @apply not-italic font-semibold bg-amber-500/30 text-stone-800;
  }

  em {
    @apply not-italic underline underline-offset-4 decoration-2 text-stone-800 decoration-stone-700/20;
  }

  a {
    @apply hover:underline underline-offset-4 decoration-2 text-blue-600 decoration-blue-600/50 inline-flex;
  }

  a::after {
    content: "";
    width: 14px;
    scale: 0.8;
    transform-origin: top left;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='#0065F499' d='m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7L14.6 7H7q-.425 0-.712-.288T6 6t.288-.712T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17t-.712-.288T16 16z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  blockquote {
    @apply border-l-4 border-neutral-400 pl-4 italic text-neutral-600 pb-4;
  }

  ul {
    @apply list-disc list-outside pt-3 pl-4;
  }

  ol {
    @apply list-decimal list-outside pt-3 pl-4;
  }

  li {
    @apply pt-1 text-neutral-700;
  }

  li > ul,
  li > ol {
    @apply pl-4 pt-0;
  }

  table {
    @apply w-full border-2 border-neutral-400/50 mt-6;
  }

  th,
  td {
    @apply border border-neutral-400/50 px-4 py-2 text-left;
  }

  th {
    @apply bg-neutral-400/30 font-semibold;
  }

  code {
    @apply text-black bg-neutral-400/50;
  }

  code::after,
  code::before {
    content: "`";
    opacity: 0.5;
  }

  code,
  pre {
    @apply text-sm;
  }

  pre code::after,
  pre code::before {
    content: "";
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    @apply mt-4 p-4 overflow-scroll rounded-sm;
  }

  img {
    @apply mx-auto shadow-inner my-5 bg-neutral-400/50;
  }

  input[type="checkbox"] {
    @apply accent-black;
  }
}
